@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
}
li{
    list-style: none;   
}
.container{
    max-width: 1006px;
    margin: 0 auto;
    background: #F6F6EF;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: #FF6600;
    margin-top: 8px;
    padding: 0px 5px;
    align-items: center;
}
.navbar-menu{
    display: flex;
    align-items: center;
    height: 24px;
}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-name{
    margin: 0px 9px 0px 4px;
    font-size: 12px;
    font-weight: bold;
}
.menu{
    display: flex;
}

.menu-item__link{
    padding-right: 4px;
    margin-right: 9px;
    font-size: 11px;
    border-right: 1px #000000 solid;
}
.border-none{
    border: none;
}
/* Post */
.post{
    display: flex;
     margin-top: 5px;
}
.post-number{
    color: #828282;
    font-weight: normal;
    font-size: 12px;
}
.post-content{
    display: flex;
    flex-direction: column;
   
}
.post-content__head{
    display: flex;
    align-items: baseline;
    height: 11px;
}
.post__title{
    font-size: 11px;
    font-weight: normal;
}
.post__autor {
    margin-left: 10px;
    font-size: 9px;
    color: #828282;
}
.post-score{
    display: flex;
    align-items: baseline;
    
}

.post-points a, .post-points p{
    color: #828282;
    font-size: 8px;
    padding: 0px 4px;
}
.post-links{
    border-right: 1px #828282 solid;
    
}
.post-points a:hover{
    text-decoration: underline;
}
/* index */
.more{
    font-size: 11px;
    font-weight: normal;
    margin: 15px 0px 12px 32px;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 21px 0px;
    border-top: 2px #FF6600 solid ;
}
.footer-form{
    margin-top: 14px;
}
.footer-form label{
    font-size: 12px;
    color: #828282;
}
.footer-form input{
    border: 2px solid #000000;
}